#sitemap a.link2 {
	margin-left:20px;	
	font-size:16px;	
}
#sitemap a.link3 {
    background: url("../../theme/css/img/treeview-default-line.gif") repeat-y scroll 0 0 transparent;
    color: #666666;
    font-size: 14px;
    margin-left: 40px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-top: 0;
}
#sitemap a {
	display:block;
	padding:10px;
	color:#444;
}
#sitemap a.link1, #sitemap a.link0 {
	font-size:18px;	
	background:url(http://amite.net/_images/icons/arrow_right.png) no-repeat left center;
	padding-left:22px;
}